:root {
  --main-bg-colour: #E1B86A;
  --main-text-colour: #676912;
}
body {
  box-sizing: border-box;
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-family: 'Dosis', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text {
  display: flex;
  flex-direction: column;
}
.intro-text > img {
  align-self: center;
}
footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: center;
}
